# Development dependencies
# Install with: pip install -r requirements-dev.txt

# Pre-commit hooks
pre-commit==4.6.0

# Python code formatting
black==26.3.1

# Python linting
flake8==7.3.0

# Python import sorting
isort==8.0.1

# Tests
pytest==9.0.3
