# Development dependencies
# Install with: pip install -r requirements-dev.txt

# Pre-commit hooks
pre-commit==3.8.0

# Python code formatting
black==24.10.0

# Python linting
flake8==7.1.1

# Python import sorting
isort==5.13.2

# Tests
pytest==8.3.3
